header{
    width: 100vw;
    height: 65vw;
    background-image: url(images/background.png);
    background-size: 100vw;
}


.header__menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw;
}

.menuLista{
    display: flex;
    flex-direction: row;
 
}

.menuItem{
    margin: 0 3vw;
    
}

.menu__link{
    color: #1f1911;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: bold;
}

.header__banner{
    margin: 14vw 4vw;
    width: 50vw;
}

.header__banner--tittle{
    font-size: 12vw;
    color: #ffffff;
}

.header__banner--text{
    font-size: 3vw;
    color: #fff9dc;
}

.banner__button{
    padding: 1vw 7vw;
    background-color: rgb(166, 222, 248);
    font-size: 1.5vw;
    border-style: none;
    margin: 5vw 0;
    cursor: pointer;
}

.banner__button:hover{
    font-weight: bold;
}

.about{
    background-color: #f5f5f5;
    padding: 3vw 14vw;
    padding-bottom: 8vw;
}

.section__tittle{
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
    padding: 3vw 0;
}

.about__content{
    font-size: 1.2rem;
    text-align: center;

}

.designs{
    background-color: rgb(178, 226, 228, 0.6);
    padding: 4vw 10vw;
}

.imgDesigns{
    width: 10vw;
}

.designs__card{
    width: 14vw;
}

.designs__content{
    padding: 3vw 10vw;
    display: flex;
    justify-content: space-between;
}

.designs__card--content{
    text-align: center;
}

.designs__card--image{
    text-align: center;
}

.designs__card--button{
    padding: 0.6vw 4vw;
    background-color: rgb(243, 219, 85);
    font-size: 1.5vw;
    border-style: none;
    margin: 1vw;
    cursor: pointer;
}

.designs__card--button:hover{
    font-weight: bold;
    background-color: rgb(243, 219, 85, 0.8);
}

.benefits{
    padding: 3vw 8vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f5f5f5;
    background-image: url(images/bg-grid.png);
    background-size: 80vw;
    background-position: center;
}

.benefits__content{
    width: 50vw;
}

.benefits__content--img{
    display: flex;
    flex-direction: column;
}

.control{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#btnBack, #btnNext{
    width: 15px;
    padding: 1vw 1vw;
    cursor: pointer;
}

#btnBack:hover, #btnNext:hover{
    opacity: 50%;
}

.imgBenefits{
    width: 25vw;
}

.benefits__content--tittle{
    font-weight: bold;
    font-size: 1.5rem;
    padding: 3vw 0;
}

/*CONTACT*/

.contact{
    width: 100vw;
    padding: 2vw 8vw;
    background-color: rgba(123, 218, 255, 0.329);
    display: none;
}

.contact__tittle{
    padding: 2rem 0;
    font-size: 1.5rem;
}

.contact__box{
    width: 85vw; 
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.contact__box--form{
    width: 50vw;
    display: flex;
    flex-direction: column;
    padding: 3vw 4vw;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 3vw;
}

.contact__box--image{
    width: 30vw;
}

.input-padron{
    padding: 5px;
    margin-bottom: 1rem;
    border-radius: 10px;
    border-width: 0ch;
    color: darkgray;
}

label{
    font-weight: bold;
}

.send{
    width: 15vw;
    padding: 10px;
    border-radius: 1vw;
    border-width: 0ch;
    padding: 1vw;
    font-weight: bold;
    background:rgb(243, 219, 85);
}

.send:hover{
    transform: scale(1.06);
    background:rgb(243, 219, 85, 0.8);
}

.cancelBtn{
    width: 15vw;
    padding: 10px;
    border-radius: 1vw;
    border-width: 0ch;
    padding: 1vw;
    background:rgb(212, 212, 212);
}

.cancelBtn:hover{
    transform: scale(1.06);
    background:rgb(212, 212, 212, 0.6);
}


/*FOOTER*/

.footer__menu{
    background-color: #070606;
}

.footer__menu--lista{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw 4vw;
}

.footer__link{
    color: #f5f5f5;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: bold;
}

.footer__info{
    padding: 3vw;
    background-color: #1d1c1c;
    color: #f5f5f5;
    font-size: 0.6rem;
    text-align: center;

}

.linkInfo{
    color: rgb(243, 219, 85, 0.8);
    text-decoration: none;
    font-size: 0.6rem;
}